* {
    font-family: open sans;
    font-size: 14px;
    color: #333;
}

h1 {
    font-size: 24px;
}

h2 {
    font-family: open sans light;
    font-weight: 300;
    font-size: 18px;
}

h3 {
    font-size: 11px;
}

h4 {
    font-weight: 600;
    padding-bottom: 6px;
    padding-top: 6px;
}

body {
    padding: 12px;
}

p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*******
* Grid *
********/

.column {
    display: inline-block;
    vertical-align: middle;
}

/*********
* Button *
*********/

button {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.04));
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(255, 255, 255, 0.15);
    color: #333;
    font-family: inherit;
    max-width: 250px;
    outline: none;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    transition: all 100ms ease-in;
}

button * {
    margin: 0;
}

button:focus {
    border-color: rgba(77, 156, 209, 0.8);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 3px 6px rgba(12, 128, 200, 0.16),
                0 3px 6px rgba(12, 128, 200, 0.23);
    text-decoration: none;
}

button:active {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
                0 1px 0 0 rgba(255, 255, 255, 0.3);
}

button.suggested-action {
    background-color: #64b9f1;
    background-image: linear-gradient(to bottom, #75c6fd, #53abe5);
    border-color: #4d9cd1;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

/*********
* Header *
*********/

#header {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

#header .column:last-child {
    float: right;
    line-height: 128px;
    margin-right: 14px; /* This is because of the built-in margin to the 128px icon */
}

button#install {
    font-size: 16px;
}

#screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
